<div class="outer-container" *ngIf="auth.user$">
  <div class="titles">
    <app-logo
      [fontSize]="6.4"
      [word1]="'Clear'"
      [word2]="'Insurance'"
    ></app-logo>
  </div>


  <!-- // should break out logins to seperate component -->
  <div class="logins">
    <div *ngIf="auth.user$ | async as user; else login">
      <a class="nav-link" routerLink="/insurance-manager"
        >Search For Insurance Quotes</a
      >
    </div>
    <ng-template #login>
      <form class="form-signin">
        <app-social-button
          (clicked)="auth.googleSignIn()"
          [user]="user"
          [text]="'Sign in with Google'"
        ></app-social-button>
      </form>
    </ng-template>
    <p
      *ngIf="!auth.user$ | async as user"
      class="free-creds"
      (click)="displayFakeCredentialsToggle()"
    >
      (Care for some false gmail credentials?)
    </p>
    <div class="fake-account" [ngClass]="{ display: displayFakeCredentials }">
      <input type="text" value="seniordevtastic" id="nameInput" />
      <button (click)="copyFunction('name')">Copy Gmail User name</button>#
      <input type="text" value="1seniordevtastic" id="passwordInput" />
      <button (click)="copyFunction('password')">
        Copy Gmail password
      </button>
    </div>
  </div>
</div>
