@import '../../../styles/index.scss';

:host {
  a,
  button {
    font-size: 1.4rem;
  }
  .navbar {
    position: relative;
    background-color: $red;
    min-height: $header-height;
    max-width: 100vw;
    padding: 1rem 1rem;
    &-brand {
      width: $brand-width;
      height: $brand-height;
      position: relative;
      margin: 0;
      padding: 0;
      pointer-events: none;
    }
    &-nav {
      &.mr-auto {
        padding-top: 1rem;
        .nav-item {
          padding: 2px;
          margin-left: 7px;
        }
      }
    }
  }
}
