@import '../../../styles/index.scss';
:host {
  background: $red;
  display: grid;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  footer {
    text-align: center;
    color: $white;
    pointer-events: none;

    p {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}
